html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../Assets/Background/bg.webp');
}

img.logo {
    height: 250px;
    margin: -90px -120px -89px -100px;
}

.heading-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

p.b {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.all-events img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.add-form {
    font-size: 17px;
    font-weight:500;
    padding-top:5px;
}

a.purple {
    background-color: #d1a9eb;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

input.purple {
    background-color: #d1a9eb;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}
​