@model CreateOrganizerFormModel

<div class="container">
     <div class="row">
         <div class=" offset-md-2 col-md-8 col-sm-12">
             <h2 class ="heading-margin text-center">Register Organizer</h2>
             <form  method="post" class="row g-3">
                  <div class="col-md-6">
                    <label asp-for="Name" class="form-label">Full Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name here">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                  </div>
              
                  <div class="col-md-6">
                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter phone here">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                  </div>
             
                  <div class="col-12">
                     <input class="btn purple" type="submit" value="Submit"/>
                 </div>
            </form>
         </div>
     </div>
 </div>