@inject IOrganizerService organizers
@using Microsoft.AspNetCore.Identity
@using MusicEvents.Services.Organizers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MusicEvents</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicEvents.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/Assets/Logo/logo.svg">
                </a>
                
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px">
                            Events
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                             @if (SignInManager.IsSignedIn(User))
                             {
                               if (organizers.IsOrganizer(User.GetId()))
                               {
                               <li class="dropdown-item">
                                <a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="Add">Add Event</a>
                               </li> 
                               }
                              }
                             
                              <li class="dropdown-item">
                                  <a class="dropdown-item" asp-area="" asp-controller="Events" asp-action="All">All Events</a>
                              </li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px">
                            Artists
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                             @if (SignInManager.IsSignedIn(User))
                             {
                               if (organizers.IsOrganizer(User.GetId()))
                               {
                                 <li class="dropdown-item">
                                  <a class="dropdown-item" asp-area="" asp-controller="Artists" asp-action="Add">Add Artist</a>
                                 </li> 
                               }
                              }
                             
                              <li class="dropdown-item">
                                  <a class="dropdown-item" asp-area="" asp-controller="Artists" asp-action="All">All Artists</a>
                              </li>
                          </ul>
                        </li>
                      </ul>
                    </div>  
                                         
                    <partial name="_LoginPartial"/>
                </div>
           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="background-color: rgba(255,255, 255, 0.3);">
        <div class="container">
           <p style="color:black;">&copy; @DateTime.UtcNow.Year - MusicEvents - Zhulieta Yaneva</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
